################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StaffManagementAPI/.vs/
/StaffManagementAPI/obj/
/StaffManagementAPI/bin/

